/* Generelt */
* {
    box-sizing: border-box;
}

body {
    background-color: #f6f596;
    margin: 0;
}

img {
    width: 100%;
}

section {
    max-width: 1600px;
    margin: 0 5vw;
}

/*loading animation*/

.preload {
    position: relative;
}

.circle_1,
.circle_2,
.circle_3,
.circle_4,
.circle_5,
.circle_6 {
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 30vh;
    left: 39%;
}

.circle_2,
.circle_5,
.circle_6 {
    animation-name: cirlce_neg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50%;
}



@keyframes cirlce_neg {
    0% {
        transform: rotate(-360deg);
    }
}

.circle_3,
.circle_4 {
    animation-name: cirlce_pos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50%;
}



@keyframes cirlce_pos {
    0% {
        transform: rotate(360deg);
    }
}

/*loading animation slut*/
/* Fonte */

h3 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}


a {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

/* Tilbage knap */
.tilbage {
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px;
    border: 2px dotted rgba(125, 156, 226, 0.74);
    background-color: #b6b6e5;
    border-radius: 15px;
    font-size: 1.8rem;
    color: white;
}

.tilbage:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: rgba(240, 46, 170, 0.15);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px,
        rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px,
        rgba(240, 46, 170, 0.05) -25px 25px;
    transition: 0.5s;
}

/*Single view*/

.sang-detalje {
    padding: 20px;
    margin: 20px;
    border: 2px dotted rgba(125, 156, 226, 0.74);
    background-color: #bfe8ff;
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px,
        rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px,
        rgba(240, 46, 170, 0.05) -25px 25px;

    transition: 0.5s;
}

article h3 {
    text-align: center;
}

.img p {
    text-align: center;
    font-style: italic;
}

.text {
    margin: auto;
}

/* Footer */

footer {

    width: 100vw;
    height: auto;
    background-color: rgba(240, 46, 170, 0.15);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
}

.icons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.icons img {
    width: 60px;
}


/* DESKTOP REGLER */
@media (min-width:600px) {

    /*animation*/
    .circle_1,
    .circle_2,
    .circle_3,
    .circle_4,
    .circle_5,
    .circle_6 {
        width: 10vw;
        height: 10vw;
        position: absolute;
        top: 30vh;
        left: 45%;
    }


    article {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 30px;
    }

    section {
        max-width: 1300px;
        margin: 0 auto;
    }

    .img {
        max-width: 400px;
    }

    /*    Footer */

    footer {
        position: absolute;
        bottom: 0;
    }

    #footer {
        display: flex;
        justify-content: space-between;
    }

    #footer p {
        margin-top: 15px;
    }

    .icons {
        margin-top: 0;
    }

    .icons img {
        margin-right: 50px;
    }

}
