/* Generelt */
* {
    box-sizing: border-box;
}

html {
    /* Gør at der ikke hoppes direkte til en section når denne klikkes på i nav-baren, men istedet "animerer" en scroll på siden */
    scroll-behavior: smooth;
}

body {
    background-color: #f6f596;
    margin: 0;
}


img {
    width: 100%;
}

main {
    max-width: 1600px;
}

section {
    margin: 0 5vw;
}

/*loading animation*/

.preload {
    position: relative;
}



.circle_1,
.circle_2,
.circle_3,
.circle_4,
.circle_5,
.circle_6 {

    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 68vh;
    left: 39%;
}

.circle_2,
.circle_5,
.circle_6 {
    animation-name: cirlce_neg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50%;
}



@keyframes cirlce_neg {
    0% {
        transform: rotate(-360deg);
    }
}

.circle_3,
.circle_4 {
    animation-name: cirlce_pos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50%;
}



@keyframes cirlce_pos {
    0% {
        transform: rotate(360deg);
    }
}

/*loading animation slut*/
/* Fonte */

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: italic;
}

a {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

/* Splash/forside */
#splash {
    /*    Laver grid-layout på splash, sådan at det er nemmere at placere elementerne (tekst og logo)*/
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1.5fr auto 1fr;
    /*    Splashbilledet skal fylde hele siden */
    max-width: none;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(splash/Artboard_17.png);
    background-size: cover;
    background-position: 50%;
}

.logo {}

.velkommen {
    color: blue;
    text-align: center;
    font-size: 1.2rem;
    /*    Placerer teksten på splashbilledet */
    grid-column: 2/3;
    grid-row: 3/4;
}

.velkommen h2 {
    font-size: 2rem;
}

.velkommen p {
    margin: 0;
    margin-bottom: 10px;
}

.velkommen a {
    color: blue;
}

/* Navigation */
nav {
    background-color: rgb(252, 217, 152);
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    /*    Gør at navbaren atid ligger over alle andre elementer på siden */
    z-index: 1;
    margin-bottom: 20px;
}

nav a {
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px;
    border: 2px dotted rgba(125, 156, 226, 0.74);
    background-color: #d2d2ed;
    border-radius: 15px;
}

nav a:hover {
    transition: 0.5s;
    text-decoration: underline;
    background: rgba(240, 46, 170, 0.15);
    transform: scale(1.05);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

/* Opretter classen sticky som sættes på i javascript, gør sådan at navbaren bliver liggende i toppen af siden når der scrolles forbi den */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Gør fastsættelsen af navbaren mere smooth, da navigationslinjen får en ny position øverst på siden */
.sticky + #biblo {
    padding-top: 100px;
}

/* Filtre/sortering */
#sortering {
    padding: 20px;
    margin-bottom: 40px;
    border: 2px dotted rgba(125, 156, 226, 0.74);
    background-color: #d2d2ed;
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    transition: 0.5s;
}

#genre {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
    /*    Gør at der kan scrolles i filterknapperne */
    overflow-x: scroll;
}

button {
    width: 90px;
    height: 90px;
    /*    Fjerner default baggrund og border på knapper */
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

.btn {
    margin: auto;
}

.btn p {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}

.btn:hover p {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.valgt p {
    color: blue;
    text-decoration: underline;
}

/* Indsætter egne ikoner baggrundsbilleder på knapper */

.alle {
    background-image: url(./ikoner/alle.png);
    background-size: cover;
}

.pop {
    background-image: url(./ikoner/pop.png);
    background-size: cover;
}

.grunge {
    background-image: url(./ikoner/grunge.png);
    background-size: cover;
}

.hiphop {
    background-image: url(./ikoner/hiphop.png);
    background-size: cover;
}

.eurodance {
    background-image: url(./ikoner/eurodance.png);
    background-size: cover;
}

.ballade {
    background-image: url(./ikoner/ballader.png);
    background-size: cover;
}

.techno {
    background-image: url(./ikoner/techno.png);
    background-size: cover;
}

.jazz {
    background-image: url(./ikoner/jazz.png);
    background-size: cover;
}

.rnb {
    background-image: url(./ikoner/rogb.png);
    background-size: cover;
}

/* Oversigt */
#oversigt {
    /*    Sætter loop view op i 2 kolonner */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 50px;
}

article {
    padding: 20px;
    border: 2px dotted rgba(125, 156, 226, 0.74);
    background-color: #bfe8ff;
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

article:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: rgba(240, 46, 170, 0.15);
    transition: 0.5s;
}

article h3 {
    text-align: center;
}

/* Input felt */
#input {
    margin-bottom: 50px;
}

#input h3 {
    text-align: center;
    font-size: 1.5rem;
}

#input p {
    font-size: 1rem;
    text-align: center;
}

#tip {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#besked {
    width: 80vw;
    max-width: 800px;
    height: 50px;
}

#submit {
    margin-top: 10px;
    height: 50px;
    cursor: pointer;
    border: 2px dotted rgba(125, 156, 226, 0.74);
    background-color: #b6b6e5;
    border-radius: 15px;
}

#tip button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: rgba(240, 46, 170, 0.15);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px,
        rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px,
        rgba(240, 46, 170, 0.05) -25px 25px;
    transition: 0.5s;
}

/* Footer */

footer {
    /*    Sætter bredden til at fylde siden og højden til at tilpasse sig efter indholdet */
    width: 100vw;
    height: auto;
    background-color: rgba(240, 46, 170, 0.15);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
}

.icons {
    margin-top: 15px;
    /*    Får ikonerne til at ligge side om side */
    display: flex;
    justify-content: space-around;
}

.icons img {
    width: 60px;
}

/* DESKTOP REGLER */

@media (min-width:600px) {

    /* Splash */
    /*animation*/
    .circle_1,
    .circle_2,
    .circle_3,
    .circle_4,
    .circle_5,
    .circle_6 {
        width: 10vw;
        height: 10vw;
        position: absolute;
        top: 50vh;
        left: 54%;
    }

    /*    Navigation */
    nav a {
        margin: auto 100px;
    }

    /* Filtre/Sortering */
    #sortering {
        width: 200px;
        /*        Sætter en max-højde på sorterings-baren, eller får højde efter indholdet i loopviewet */
        max-height: 1550px;
    }

    #biblo {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 50px auto;
    }

    #genre {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    /* Oversigt */
    #oversigt {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        margin-left: 0;
    }

    article {}

    /*    Input */
    #tip {
        flex-direction: row;
        justify-content: center;

    }

    #submit {
        margin-left: 30px;
        margin-top: 0;
    }

    /*    Footer */

    #footer {
        display: flex;
        justify-content: space-between;
    }

    #footer p {
        margin-top: 15px;
    }

    .icons {
        margin-top: 0;
    }

    .icons img {
        margin-right: 50px;
    }

    .icons img:hover {
        cursor: pointer;
    }
}

/* ---- TABLET REGLER ---- */
@media (orientation: portrait) and (min-width: 500px) {
    #splash {}

    nav a {
        margin: auto;
    }

    #oversigt {
        grid-template-columns: 1fr 1fr;
    }

}
